<div id="main-wrapper">
  <app-headers></app-headers>
  <app-sidbar></app-sidbar>

  <div class="page-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs -->
      <app-bread-crumbs></app-bread-crumbs>
      <!-- Routes -->
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- End PAge Content -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- footer -->
      <!-- ============================================================== -->
      <footer class="footer">
        © 20xxAdmin
      </footer>
      <!-- ============================================================== -->
      <!-- End footer -->
      <!-- ============================================================== -->
    </div>
  </div>
</div>
